<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="form-box" class="form-box">
      <h1>Login in</h1>
      
      <form class="form-login">
        <label for="username" id="username-input">Username</label>
        <input type="text" id="username-input" placeholder="type username">

        <br>
        
        <label for="password" id="password-input">Password</label>
        <input type="password" id="password-input" placeholder="type password">

        <br>

      </form>

    </div>
  </body>
</html>
